body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(70, 65, 65);
    background-image: url(../img/vintage-desk-with-antique-books-and-fountain-pen-il9o4m6tqlogmivz.jpg);
    
    

}
.main {
    border: solid 15px beige;
    position: relative;
    width: 500px;
    height: 600px;
    background-color: gray;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 3px 0px #383838;
    
}

h1{
    text-align: center;
    font-family: 'Orbitron', 'semi-bold', sans-serif;
    color: whitesmoke;
}


.display {
    width: 100%;
    height: 20%;
    background-color: rgb(65, 62, 62);
    perspective: 1000px;
    transform: rotateX(-40deg);
    box-shadow: 0px 3px 0px #383838;
    text-align: center;
    font-size: 30px;
    border: inset solid black 10px;
    font-family:'Orbitron', 'semi-bold', sans-serif;;
    color: rgb(253, 31, 31);
    text-shadow:1px 1px 5px rgb(253, 31, 31);
    
    

}


.operators{
    display: flex;
    width: 100%;
    height: 15%;
    gap: 1px;
    box-shadow: 24px -7px 8px -9px;

}
.operatorPlus {
    border-radius: 15px;
    width: 20%;
    height: 100%;
    background-color: rgb(59, 59, 59);
    box-shadow: 0px 3px 0px #383838;
    font-size: 25px;
    color: white;  
    cursor: pointer; 


}
.operatorMinus {
    border-radius: 15px;
    width: 20%;
    height: 100%;
    background-color: rgb(59, 59, 59);
    box-shadow: 0px 3px 0px #383838;
    font-size: 25px;
    color: white;
    cursor: pointer;


}
.operatorTimes {
    border-radius: 15px;
    width: 20%;
    height: 100%;
    background-color: rgb(59, 59, 59);
    box-shadow: 0px 3px 0px #383838;
    font-size: 25px;
    color: white;
    cursor: pointer;


}
.operatorBy {
    border-radius: 15px;
    width: 20%;
    height: 100%;
    background-color: rgb(59, 59, 59);
    box-shadow: 0px 3px 0px #383838;
    font-size: 25px;
    color: white;
    cursor: pointer;


}
.operatorPercnt {
    border-radius: 15px;
    width: 20%;
    height: 100%;
    background-color: rgb(59, 59, 59);
    box-shadow: 0px 3px 0px #383838;
    color: white;
    font-size: 25px;
    cursor: pointer;


}

.numberRow1{
    display: flex;
    gap: 1px;
    height: 17%;
    width: 60%;
    background-color: gray;
    
}

.one {
    font-size: 25px;
    display: flex;
    height: 100%;
    width: 33%;
    border-radius: 15px;
    background-color: antiquewhite;
    box-shadow: 0px 3px 0px #383838;
    cursor: pointer;
    
}
.one:active {
    background: rgb(189, 3, 3);
    opacity: 0.5;

}
.two {
    font-size: 25px;
    display: flex;
    border-radius: 15px;
    display: flex;
    height: 100%;
    width: 33%;
    background-color: antiquewhite;
    box-shadow: 0px 3px 0px #383838;
    cursor: pointer;
}
.two:active {
    background: rgb(189, 3, 3);
    opacity: 0.5;

}
.three {
    font-size: 25px;
    display: flex;
    border-radius: 15px;
    display: flex;
    height: 100%;
    width: 33%;
    background-color: antiquewhite;
    box-shadow: 0px 3px 0px #383838;
    cursor: pointer;
}
.three:active {
    background: rgb(189, 3, 3);
    opacity: 0.5;

}

.numberRow2{
    display: flex;
    height: 17%;
    width: 60%;
    gap: 1px;
    background-color: gray;
}

.four {
    font-size: 25px;
    border-radius: 15px;
    border: solid 2px black;
    border-style: outset;
    display: flex;
    height: 100%;
    width: 33%;
    background-color: antiquewhite;
    box-shadow: 0px 3px 0px #383838;
    cursor: pointer;
}
.four:active {
    background: rgb(189, 3, 3);
    opacity: 0.5;

}
.five {
    font-size: 25px;
    border-radius: 15px;
    display: flex;
    display: flex;
    height: 100%;
    width: 33%;
    background-color: antiquewhite;
    box-shadow: 0px 3px 0px #383838;
    cursor: pointer;
}
.five:active {
    background: rgb(189, 3, 3);
    opacity: 0.5;

}
.six {
    font-size: 25px;
    border-radius: 15px;
    display: flex;
    display: flex;
    height: 100%;
    width: 33%;
    background-color: antiquewhite;
    box-shadow: 0px 3px 0px #383838;
    cursor: pointer;
}
.six:active {
    background: rgb(189, 3, 3);
    opacity: 0.5;

}

.numberRow3{
    display: flex;
    height: 17%;
    width: 60%;
    gap: 1px;
    background-color: gray;
}

.seven {
    font-size: 25px;
    border-radius: 15px;
    display: flex;
    height: 100%;
    width: 33%;
    background-color: antiquewhite;
    box-shadow: 0px 3px 0px #383838;
    cursor: pointer;
}
.seven:active {
    background: rgb(189, 3, 3);
    opacity: 0.5;

}
.eight {
    font-size: 25px;
    border-radius: 15px;
    display: flex;
    display: flex;
    height: 100%;
    width: 33%;
    background-color: antiquewhite;
    box-shadow: 0px 3px 0px #383838;
    cursor: pointer;
}
.eight:active {
    background: rgb(189, 3, 3);
    opacity: 0.5;

}
.nine {
    font-size: 25px;
    border-radius: 15px;
    display: flex;
    display: flex;
    height: 100%;
    width: 33%;
    background-color: antiquewhite;
    box-shadow: 0px 3px 0px #383838;
    cursor: pointer;
}

.nine:active {
    background: rgb(189, 3, 3);
    opacity: 0.5;

}
.lastrow {
    display: flex;
    height: 15%;
    width: 60%;
    gap: 1px;
    background-color: gray;
}

.zero {
    font-size: 25px;
    border-radius: 15px;
    display: flex;
    height: 100%;
    width: 33%;
    background-color: antiquewhite;
    box-shadow: 0px 3px 0px #383838;
    cursor: pointer;
}
.zero:active {
    background: rgb(189, 3, 3);
    opacity: 0.5;

}
.coma {
    font-size: 25px;
    border-radius: 15px;
    display: flex;
    display: flex;
    height: 100%;
    width: 33%;
    background-color: antiquewhite;
    box-shadow: 0px 3px 0px #383838;
    cursor: pointer;
}
.coma:active {
    background: rgb(189, 3, 3);
    opacity: 0.5;

}
.AC {
    font-size: 25px;
    border-radius: 15px;
    display: flex;
    display: flex;
    height: 100%;
    width: 33%;
    background-color: antiquewhite;
    box-shadow: 0px 3px 0px #383838;
    font-size: 20px;
    cursor: pointer;
}
.AC:active {
    background: rgb(189, 3, 3);
    opacity: 0.5;

}

.numberRow3{
    display: flex;
    height: 15%;
    width: 60%;
    gap: 1px;
    background-color: gray;
}

.equals {
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 64%;
    position: absolute;
    right: 0;
    top: 216px;
    background-color: orange;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 3px 0px #383838;

}